*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #f5f8f8;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.nav{
    padding-left: 5px;
    width: 210px;
    display: flex;
    flex-direction: column;
    line-break: 20px;
    background-color: #ffffff ;
}

.first-nav{
    flex-direction: column;
    display: flex;
}
.nav-icon{
    margin-bottom: 10px;
    display: flex;
}
.icon{
    padding: 5px;
    background-color: transparent;
    border: 2px solid rgb(17, 16, 16);
    border-radius: 7px;
    width: 30px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

svg{
    fill: black;
    cursor: pointer;
}

.icon:hover{
    background-color: black;
    color: white;
    fill: white;
    transition: all .5s;
}

.icon:hover svg{
    fill: white;
}

/* search button */

.nav-input{
    background-color:  #ece7e7;
    padding: 2px 3px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 16px;
    height: 35px;
}

.nav-input svg{
    fill: black;
    font-weight: bolder;
    
}

input{
    background-color: transparent;
    outline: none;
    border: none;
   margin-left: 5px;
}

input::placeholder{
    font-weight: bolder;
    
}
/* for the option header */

.ul-1 p, .ul-2 p{
    font-size: 19px;
    padding: 0;
    color: rgb(158, 146, 146);
    text-transform: capitalize;
}

.ul-2{
    margin-bottom: 110px;
}
/* for the option */

ul{
    margin-top: 20px;
}

li{
    display: flex;
    align-items: center;
}

.ul-2 li{
    color: black;
    text-transform: capitalize;
    font-size: 16px;
    padding: 5px;
}



li img{
    border:  1px solid black;
    width: 8%;
    margin-right:3px ;
    border-radius: 7px;
    height: 14px;

}

.ul-1 svg{
    margin-right: 7px;
}

ul li{
    list-style: none;
    padding: 2px 5px;
    color: rgb(165, 160, 160);
    cursor: pointer;
    transition: all .5s;
}

ul li:hover{
    background-color:   #ece7e7;
    color: rgb(21, 21, 21);
}

/* for last-nav */

.last-nav{
    background-color:   #ece7e7;
    margin: 5px;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
}

/* the arrow and menu */

.box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.last-icon1{
    background-color:  #ff8948;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;
    align-items: center;
    width: 35px;
    margin-bottom: 14px;
    height: 35px;
    padding: 4px;
    border-radius: 10px;
}
.last-icon1:hover{
    width: 40px;
    height: 40px;
}
.last-icon1 svg{
    fill: white;
}

.last-icon2 svg
.last-icon{
    width: 10px;
}

.last-nav p{
    font-size: 14px;
    color: black;
    font-weight: bolder;
}

.last-nav .p2{
    margin-top: 5px;
    color:  rgb(158, 146, 146);
    font-size: 12px;
}

/* working on the progress bar */

.load{
    background-color: rgb(182, 178, 178);
    padding: 4px;
    border-radius: 3px;
    margin-top: 15px;
}

.advance p{
    display: flex;
}

 .advance .title{
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

/* progress bar main */

.progress{
    height: 8px;
    margin-top: 6px;
    width: 100%;
    border-radius: 11px;
    background-color: white;
}

.progress .per{
    position: relative;
    display: block;
    border-radius: 11px;
    height: 100%;
    width: 75%;
    background-color: black;
}

a{
    color: #ff8948;
}

/* working on first nav */

.main-body{
    background-color: #ddd9d9f0; 
    width: 100%;
    margin-right: 20px;
    height: 900px;
    border-radius: 20px;
    padding: 0px 20px;
}

.first-nav2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.f1-ul{
    display: flex;
    text-transform: capitalize;
}

.f1-ul ul, .f2-ul ul{
    display: flex;
}

.f1-ul ul, .f2-ul ul{
    padding-right: 10px;
}

/* 2nd nav */

.nav2-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}

.nav2-header{
    text-transform: uppercase;
    padding: 0%;
    font-size: 29px;
    font-weight: 600;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    direction: ltr;

}

.image2{
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    overflow: hidden;
    border: 2px solid rgb(220, 217, 217);
    background-color: #ff570e;
    transition: all .3s;
    cursor: pointer;
    margin-left: -13px;
}

.image2:hover:not(:last-of-type){
    transform: translate(-10px);
}

.image2 img{
    width: 100%;
    object-fit: cover;
}

.btn{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 20px;
    width: 80px;
    border-radius: 4px;
    border: 2px solid rgb(214, 208, 208);
    padding: 7px;
    cursor: pointer;
    height: 35px;
}


/* main frame */

 .main-fr1{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    text-transform: capitalize;
    align-items: center;
}

.main-fr1 p{
    color: #8f9dab;

}

.sbtn1{
    margin-left: 15px;
    background-color: #ffe8dd;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 2px;
    color: #ff6e2c;
}

.sbtn2{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 7px;
    overflow: hidden;
}

.ass-box p{
    color: black;
}

.ass-box{
    margin-left: 8px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    background-color: white;
}

.ass-box img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.point-down{
    margin-left: 7px;
    background-color: white;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.point-down svg{
    fill: #8a99a8;
    border: #f3f5f8;
}

.sbtn3{
    font-weight: bold;
    margin-left: 15px;
    background-color: #CAE2F0;
    padding: 2px 10px;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
    color: #3F80B1;
}

.sbtn4{
    font-weight: bold;
    padding: 3px;
    margin-left: 15px;
    background-color: #F9DCEB;
    font-size: 12px;
    border-radius: 2px;
    color: #943279;
}



.sbtn5{
    padding: 3px;
    margin-left: 15px;
    background-color: #ece4ff ;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    color: #994fff;
}

.sbtn6{
    font-weight: bold;
    margin-left: 15px;
    background-color: #dcf5f9;
    padding: 3px;
    font-size: 12px;
    border-radius: 2px;
    color: #288aa0;
}

.sbtn7{
    font-weight: bold;
    margin-left: 15px;
    background-color: #dcf7da ;
    padding: 3px;
    font-size: 12px;
    border-radius: 2px;
    color: #4fa749;
}

/* upper nav */
.upper{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper-ul1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.upper-ul1 li, .upper-ul2 li{
    margin-left: 10px;
}
.upper-ul2{
    display: flex;
    justify-content: center;
}

.upper-ul2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonAT{
    display: flex;
    background-color: black;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 15px;
    text-transform: capitalize;
}

.buttonAT svg{
    fill: white;
}

.search2{
    background-color: #ffffff;
    border: 1px solid #99a6b4;
    display: flex;
   align-items: center;
    border-radius: 5px;
    margin-top: 16px;
    height: 35px;
    margin-right: 10px;
    padding-right: 40px;
    padding-left: 10px;
}

.search2 input{
    width: 100%;
    padding: none;
    margin: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input::placeholder{
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mansionary */
.main {
    /* width: 1000px; */
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: center;
    background-color: rgba(246, 240, 240, 0.893);
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;


  }

  .container {
    max-width: 250px;
    margin: 4px ;
  }

  .title {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    height: 30px;
    border-radius: 5px;
    justify-content: space-between;
  }

  .todo-title {
    background: #f5f5f5;
    color: #3d3d3d;
  }
  .progress-title {
    background: rgba(135, 207, 235, 0.459);
    color: rgb(42, 79, 94);
  }
  .review-title {
    background: rgba(240, 128, 128, 0.486);
    color: rgb(122, 27, 27);
  }
  .done-title {
    background: rgba(144, 238, 144, 0.5);
    color: rgb(42, 100, 42);
  }

  .title-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .title-text h2,
  .task {
    font-weight: normal;
    font-size: 15px;
  }

  .task {
    padding: 0px 5px;
    border: 1px solid #ffffff57;
    border-radius: 10px;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
  .icon-sm {
    width: 16px;
    height: 16px;
  }

  .todo-container {
    width: 100%;
    padding: 10px 0px;
  }

  .todo {
    border: 1px solid #dddddda8;
    min-height: 100px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  .card {
    padding: 2px;
    padding-bottom: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.275) ;
    border-radius: 5px;
  }
  .card-img {
    background: linear-gradient(
      235deg,
      rgb(204, 204, 204),
      rgb(243, 221, 221)
    );
    width: 100%;
    height: 150px;
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
  }

  .category-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
  }

  .categories {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .keyword {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background: rgba(255, 68, 0, 0.226);
    border-radius: 25px;
    padding: 2px 7px;
    color: rgb(90, 25, 1);
    font-size: small;
  }

  .card-body,
  .card-footer {
    padding: 0 5px;
  }

  .card-body h1 {
    font-size: 18px;
  }
  .card-body p {
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #3d3d3d;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contributors {
    display: flex;
    align-items: center;
  }

  .contributors * {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(
      245deg,
      rgb(245, 118, 118),
      rgb(128, 128, 253)
    );
  }

  button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  .action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: small;
  }

  .clip,
  .comment {
    display: flex;
    align-items: center;
    color: #3d3d3d;
  }

  .card-img{
    display: flex;
  }

  .card-img img{
      width: 100%;
      display: flex;
      align-items: center;
  }

  .con-online{
    display: flex;
    align-items: center;
    margin-top: 3px;
    background-color: white;
    border: 1px solid black;
  }

  .con-online img{
    margin-left: -5px;
  }

  .footer{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    background-color: #f3efbe;
    text-align: center;
    border-radius: 12px;
    font-weight: bolder;
    color: rgb(87, 81, 81);
  }

  @media screen and (max-width: 570px) {
    .nav{
        display: none;
    }
    .main{
        display: block;
        justify-content: center;
        align-items: center;
    }

  }

  @media screen and (max-width: 570px){
    .first-nav2{
        display: none;
    }

    .pic{
        display: none;
    }

    .upper{
        display: none;
    }

    .hideOnMobile{
        display: none;
    }

    .footer{
        display: block;
    }

  }